#divAdd {
    display: flex;
    justify-content: end;
}

/* #btnAdd {
    background-color: green;
    color: white;
    padding: 6px;
    margin-right: 4px;
    border: 0;
    margin-bottom: 16px;
} */
h1{
    padding: 10px;
}

.fruit-item {
    display: flex;
    /* border: 1px solid gray; */
    margin: 6px;
    align-items: center;
}

.btnEdit {
    margin-left: auto;
    background: blue;
    border-radius: 8px;
    border: 0;
    color: white;
    margin-right: 4px;
}